{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2>Estate Entry Form</h2>
    <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        <div>
            {{ estate_form.as_p }}
        </div>
        {% if estate_for_sale %}
        <div>
            {{ estate_for_sale.as_p }}
        </div>
        {% elif estate_on_auction %}
        <div>
            {{ estate_on_auction.as_p }}
        </div>
        {% endif %}
        <button type="submit">Save</button>
    </form>

{% endblock %}